.btn-main {
  padding: 10px 20px;
  background-color: var(--main);
  border: 1px solid var(--black) !important;
  color: var(--white) !important;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  transition: all 0.3s linear;
  &:hover {
    background: none;
    border-color: var(--main) !important;
    color: var(--main) !important;
  }
}

.btn-rev {
  padding: 10px 20px;
  border: 2px solid var(--main1) !important;
  color: var(--main1);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background-color: var(--main1);
    color: var(--white);
  }
}
