.home #header {
  &:after {
    height: 100%;
  }
}
#header {
  position: relative;

  // margin-bottom: 50px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 50px);
    background-color: var(--light);
    z-index: -2;
  }
  // @media #{$sm} {
  //   margin-bottom: 30px;
  // }
  .container {
    position: relative;
  }
  .header-top {
    // position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px 30px;
    @media #{$md} {
      padding: 20px 0;
      justify-content: center;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
      @media #{$sm} {
      }
      li {
        margin: 0;
        a {
          display: block;

          path {
            fill: var(--main4);
          }
          &:hover {
            path {
              fill: var(--main3);
            }
          }
        }
      }
    }
  }
  .js-header {
    // position: relative;
    z-index: 2;
    background-color: var(--white);
    border: 3px solid var(--light);
    padding: 10px 30px;
    border-radius: 10px;
    @media #{$sm} {
      padding: 10px;
    }
  }
  .js-header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    border: none;
    border-bottom: 3px solid var(--light);
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .entry-title {
    position: relative;
    z-index: 3;
    padding: 50px;
    margin: 0;
    @media #{$sm} {
      padding: 30px 0;
    }
  }
  #header-ornament {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0px;
    transform: translate(0%, -10%);
    height: 99%;
    width: auto;
  }
}

// logo
.navbar__brand {
  img {
    max-width: 200px;
    height: auto;
  }
}
// main container nav
.navbar__navigation {
}
// child container nav
.js-navbar__navigation.active {
  .navbar__navigation__list {
    @media #{$md} {
      left: 0;
    }
  }
}
.navbar__navigation__list {
  transition: all 0.3s ease;
  @media #{$md} {
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background: var(--light);
    top: 0;
    left: -200%;
    z-index: 9999;
    ul {
      flex-direction: column;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      padding: 50px 20px !important;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    li {
      a {
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 700;
        &:hover {
          span {
            color: var(--main);
          }
        }
      }
    }
    .current-menu-item {
      a {
        span {
          color: var(--main);
        }

        &:before {
          content: "";
          background-image: url(../img/ico-nav.png);
          // background-color: red;
          display: inline-block;
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

// navmenu opeaner
.navbar__toggler {
  display: none;
  align-items: center;
  gap: 10px;
  transform: translateY(-2px);
  @media #{$md} {
    padding-left: 50px;
    display: flex;
    position: relative;
    z-index: 99;
  }
  @media #{$sm} {
    padding-left: 0px;
  }
  @media #{$xs} {
    padding: 20px;
  }
  cursor: pointer;
  > span {
    font-size: 12px;
    transform: translateY(1px);
    color: var(--main);
  }
  .navbar__toggler__btn {
    span {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 100px;
      background-color: var(--main4);
      transition: all 0.1s linear;
      margin-bottom: 0px;
      &:nth-child(2) {
        transform: translateY(3px);
        width: 25px;
      }
      &:nth-child(3) {
        transform: translateY(6px);
        width: 20px;
      }
    }
  }
  &:hover {
    .navbar__toggler__btn {
      span {
        display: block;
        // width: 30px !important;
      }
    }
  }
}
.navbar__toggler.active {
  .navbar__toggler__btn {
    span {
      background-color: var(--main);
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translate(-2px, -1px);
        width: 100%;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -5px);
        // width: 100%;
      }
    }
  }
}
