:root {
  --main: #ea4c67;
  --main1: #c1d341;
  --main2: #f3921b;
  --main3: #f7931d;
  --main4: #009439;
  --main5: #89aada;
  --black: #232322;
  --light-black: #373737;
  --gray: #b2b9c5;
  --light: #e4eefb;
  --white: #fff;
}

.hight-contrast {
  --main: #ffeb87;
  --main: #ffeb87;
  --main1: #ffeb87;
  --main2: #ffeb87;
  --main3: #ffeb87;
  --main4: #ffeb87;
  --main5: #ffeb87;
  --black: #ffeb87;
  --light-black: #ffeb87;
  --light: #212529;
  --white: #212529;
}

body {
  font-family: "circe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  transition: all 0.3s;
  font-family: "circe", sans-serif;
  font-weight: 700 !important;
  font-style: normal;
  color: var(--black);
}

h1,
.h1 {
  font-size: 2.25em;
}

h2,
.h2 {
  font-size: 1.8em;
}

h3,
.h3 {
  font-size: 1.5em;
}

h4,
.h4 {
  font-size: 1.3em;
}

h5,
.h5 {
  font-size: 1.125em;
}

h6,
.h6 {
  font-size: 1em;
}

.entry-title {
  font-family: "madcap", sans-serif;
  font-weight: 900;
  letter-spacing: 0.31em;
  color: var(--main4);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

p,
.p {
  font-family: "circe", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.25em;
  line-height: 1.2;
  color: var(--light-black);
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  p,
  .p {
    font-size: 0.875em;
  }
}

ul {
  margin: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 1.5;
  color: var(--light-black);
}

li::marker {
  color: var(--main);
}

b,
strong {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--black);
}

a {
  transition: all 0.3s ease;
  color: var(--main4);
  font-style: normal;
}
a:hover {
  color: var(--main);
}

span {
  color: var(--black);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.aligncenter {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}
@media only screen and (max-width: 998px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-narrow {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .container-narrow {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .entry-content .container-narrow {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container-full {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#main {
  position: relative;
  z-index: 1;
}

#go-to-top {
  cursor: pointer;
  position: fixed;
  text-align: center;
  z-index: 22;
  right: 20px;
  bottom: 30px;
  width: 39px;
  height: 39px;
  border-radius: 100%;
  transform: translate(0, 100px);
  transition: all 0.2s linear;
  background-color: var(--main2);
  border: 2px solid var(--white);
}
@media only screen and (max-width: 768px) {
  #go-to-top {
    bottom: 20px;
    right: 15px;
  }
}
#go-to-top svg {
  margin-top: 5px;
}
#go-to-top svg path {
  fill: var(--white);
}
#go-to-top:hover {
  background-color: var(--main);
  transform: translate(0, 100px), scale(1.1);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#go-to-top.active {
  transform: translate(0, 0);
}

.go-pagination {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.go-pagination a {
  padding: 5px 1px;
  text-decoration: none;
}
.go-pagination a:hover {
  color: var(--main4);
}
.go-pagination span.current {
  background-color: var(--main4);
  color: var(--white);
  padding: 5px 5px;
  border-radius: 3px;
}

.rank-math-breadcrumb p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.8em;
}
.rank-math-breadcrumb p span:last-child {
  color: var(--black);
  font-size: 1em;
  display: inline-block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "----";
  text-align: left;
}

.logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

#footer {
  background-color: var(--light);
  padding-top: 50px;
}
#footer .f-info {
  margin-top: -2px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  #footer .f-info {
    padding: 20px 0;
  }
}
#footer .f-info .f-info__wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
}
#footer .f-info .f-info__wrap a {
  text-decoration: none;
  transition: all 0.3s linear;
}
#footer .f-info .f-info__wrap a:hover {
  color: var(--main2);
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap .left {
    order: 1;
    text-align: center;
  }
}
#footer .f-info .f-info__wrap .left p {
  margin-bottom: 10px;
}
#footer .f-info .f-info__wrap .left ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap .left ul {
    justify-content: center;
  }
}
#footer .f-info .f-info__wrap .left ul li a path {
  fill: var(--main4);
}
#footer .f-info .f-info__wrap .left ul li a:hover path {
  fill: var(--main3);
}
#footer .f-info .f-info__wrap .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap .right {
    order: 2;
  }
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap .right {
    align-items: center;
  }
}
#footer .f-info .f-info__wrap .right ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap .right ul {
    justify-content: center;
    gap: 5px;
  }
}
#footer .f-info .f-info__wrap .right ul li {
  margin: 0;
  padding: 0;
}
#footer .f-info .f-info__wrap .right ul li a {
  color: var(--black);
}
#footer .f-info .f-info__wrap .right ul li a:hover {
  color: var(--main);
}
@media only screen and (max-width: 768px) {
  #footer .f-info .f-info__wrap .right .logos {
    justify-content: center;
  }
}
#footer .bottom {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--main5);
}

.home #header:after {
  height: 100%;
}

#header {
  position: relative;
}
#header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 50px);
  background-color: var(--light);
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  #header {
    margin-bottom: 30px;
  }
}
#header .container {
  position: relative;
}
#header .header-top {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px 30px;
}
@media only screen and (max-width: 998px) {
  #header .header-top {
    padding: 20px 0;
    justify-content: center;
  }
}
#header .header-top ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 768px) {
  #header .header-top ul {
    display: none;
  }
}
#header .header-top ul li {
  margin: 0;
}
#header .header-top ul li a {
  display: block;
}
#header .header-top ul li a path {
  fill: var(--main4);
}
#header .header-top ul li a:hover path {
  fill: var(--main3);
}
#header .js-header {
  position: relative;
  z-index: 2;
  background-color: var(--white);
  border: 3px solid var(--light);
  padding: 10px 30px;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  #header .js-header {
    padding: 10px;
  }
}
#header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .entry-title {
  position: relative;
  z-index: 3;
  padding: 50px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  #header .entry-title {
    padding: 30px 0;
  }
}
#header #header-ornament {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0px;
  transform: translate(0%, -10%);
  height: 99%;
  width: auto;
}

.navbar__brand img {
  max-width: 200px;
  height: auto;
}

@media only screen and (max-width: 998px) {
  .navbar__navigation__list {
    display: none;
  }
}
.navbar__navigation__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.navbar__navigation__list ul li a {
  text-decoration: none;
  font-size: 1.125rem;
}
.navbar__navigation__list ul li a:hover span {
  color: var(--main);
}

.navbar__toggler {
  display: none;
  align-items: center;
  gap: 10px;
  transform: translateY(-2px);
  cursor: pointer;
}
@media only screen and (max-width: 998px) {
  .navbar__toggler {
    padding-left: 50px;
    display: flex;
    position: relative;
    z-index: 99;
  }
}
@media only screen and (max-width: 768px) {
  .navbar__toggler {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 460px) {
  .navbar__toggler {
    padding: 10px 0 20px 20px;
  }
}
.navbar__toggler > span {
  font-size: 12px;
  transform: translateY(1px);
  color: var(--main);
}
.navbar__toggler .navbar__toggler__btn span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background-color: var(--main4);
  transition: all 0.1s linear;
  margin-bottom: 0px;
}
.navbar__toggler .navbar__toggler__btn span:nth-child(2) {
  transform: translateY(3px);
  width: 25px;
}
.navbar__toggler .navbar__toggler__btn span:nth-child(3) {
  transform: translateY(6px);
  width: 20px;
}
.navbar__toggler:hover .navbar__toggler__btn span {
  display: block;
  width: 30px !important;
}

.btn-main {
  padding: 10px 20px;
  background-color: var(--main);
  border: 1px solid var(--black) !important;
  color: var(--white) !important;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  transition: all 0.3s linear;
}
.btn-main:hover {
  background: none;
  border-color: var(--main) !important;
  color: var(--main) !important;
}

.btn-rev {
  padding: 10px 20px;
  border: 2px solid var(--main1) !important;
  color: var(--main1);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.btn-rev:hover {
  background-color: var(--main1);
  color: var(--white);
}

.wp-block-spacer {
  background-color: #eeeef0 !important;
}

.wp-block {
  max-width: 90%;
}

/* Width of "wide" blocks */
.wp-block[data-align=wide] {
  max-width: 100%;
}

/* Width of "full-width" blocks */
.wp-block[data-align=full] {
  max-width: none;
}

html :where(.wp-block)[data-align=right] > * {
  float: none !important;
}

html :where(.wp-block)[data-align=left] > * {
  float: none !important;
}

html :where(.wp-block)[data-align=left],
html :where(.wp-block)[data-align=right] {
  width: 100%;
  height: initial !important;
}/*# sourceMappingURL=go-admin.css.map */