@import "../../src/css/scss/variable";

.custome-container {
  position: relative;
  width: 100vw;
  left: -50vw;
  margin-left: 50%;
  .container-narrow {
    padding-left: 15px;
    padding-right: 15px;
  }
}
